<!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
				<a><b><h2>e-Citizen</h2></b></a>
            </li>
			<li>
                <a href="/submit">Submit Articles</a>
            </li>
            <li>
                <a href="#">Submitted Articles</a>
            </li>
            <li>
                <a href="#">Review Articles</a>
            </li>
			<li>
                <a href="#">Public Forums</a>
            </li>
            <li>
                <a href="#">Community</a>
            </li>
            <li>
                <a href="#">Admin Panel</a>
            </li>			
            <li>
                <a href="#">Settings</a>
            </li>
        </ul>
    </div>
<!-- /#sidebar-wrapper -->