<!DOCTYPE html>
	<html>
		<head>
			<title><%= title %></title>
			<link rel='stylesheet' href='/stylesheets/dashboard.css' />
			<% include includes/header.ejs %>
		</head>
        
        <body>

<% include includes/side-bar.ejs %>
<% include includes/nav-bar.ejs %>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
</body>
</html>