<nav class="navbar">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Username</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Settings</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>                    
        </ul>
    </div>
</nav>